TELNYX_API_KEY=your_telnyx_api_key_here
BUCKET_NAME=media-cdn
# Telnyx Cloud Storage region: us-central-1 | us-east-1 | us-west-1 | eu-central-1
TELNYX_STORAGE_REGION=us-central-1
# Presigned playback URL lifetime in seconds
PRESIGN_TTL_SECONDS=3600
HOST=127.0.0.1
PORT=5000
